appdirs==1.4.4
asgiref==3.3.1
bcrypt==3.2.0
black==20.8b1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.6
dj-database-url==0.5.0
Django==3.1.7
django-storages==1.11.1
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
gunicorn==20.0.4
h11==0.12.0
httptools==0.1.1
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
mypy-extensions==0.4.3
mysql==0.0.2
mysql-client==0.0.1
mysql-connector-python==8.0.23
mysqlclient==2.0.3
packaging==20.9
paramiko==2.7.2
pathspec==0.8.1
protobuf==3.15.6
pycparser==2.20
PyJWT==1.7.1
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
regex==2020.11.13
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.6
six==1.15.0
sqlparse==0.4.1
storage==0.0.4.3
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
whitenoise==5.2.0
