{% autoescape off %}  

<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #566FC9; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
	<h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
		<span style="font-size: 15px; margin: 0 0 10px 3px;">도란도란</span><br />
		<span style="color: #566FC9">메일인증</span> 안내입니다.
	</h1>
	<p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
		안녕하세요.<br />
		GSM 교내 회의실, 학생 이동 관리 서비스 <span style="color: #566FC9">도란도란</span> 에 가입해 주셔서 진심으로 감사드립니다.<br />
		아래 <b style="color: #566FC9">'메일 인증'</b> 버튼을 클릭하여 회원가입을 완료해 주세요.<br />
		감사합니다.
	</p>

	<a style="color: #FFF; text-decoration: none; text-align: center;" href="http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}" target="_blank"><p style="display: inline-block; width: 210px; height: 45px; margin: 30px 5px 40px; background: #566FC9; line-height: 45px; vertical-align: middle; font-size: 16px;">메일 인증</p></a>

	<div style="border-top: 1px solid #DDD; padding: 5px;">
		<p style="font-size: 13px; line-height: 21px; color: #555;">
			만약 버튼이 정상적으로 클릭되지 않는다면, 아래 링크를 복사하여 접속해 주세요.<br />
			http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}
		</p>
	</div>
</div>

{% endautoescape %}